<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard</title>
    <!-- CSS files -->
    <link href="/tabler/css/tabler.min.css?1692870487" rel="stylesheet"/>
    <link href="/tabler/css/tabler-flags.min.css?1692870487" rel="stylesheet"/>
    <link href="/tabler/css/tabler-payments.min.css?1692870487" rel="stylesheet"/>
    <link href="/tabler/css/tabler-vendors.min.css?1692870487" rel="stylesheet"/>
</head>
<body>
<div class="page">
    <!-- Sidebar -->
    <aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <div th:replace="~{layout/sidebar :: sidebar}"></div>
        </div>
    </aside>
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <div class="page-pretitle" th:text="${page_pretitle}"></div>
                        <h2 class="page-title" th:text="${page_title}"></h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xl">
                <div th:replace="~{${content}}"></div>
            </div>
        </div>

        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div th:replace="~{layout/footer :: copyright}"></div>
                </div>
            </div>
        </footer>
    </div>
</div>

<!-- Libs JS -->
<script src="/tabler/libs/apexcharts/dist/apexcharts.min.js?1692870487" defer></script>
<script src="/tabler/libs/jsvectormap/dist/js/jsvectormap.min.js?1692870487" defer></script>
<script src="/tabler/libs/jsvectormap/dist/maps/world.js?1692870487" defer></script>
<script src="/tabler/libs/jsvectormap/dist/maps/world-merc.js?1692870487" defer></script>
<!-- Tabler Core -->
<script src="/tabler/js/tabler.min.js?1692870487" defer></script>
<script src="/tabler/js/demo.min.js?1692870487" defer></script>
</body>
</html>