<script type="text/javascript" src="/js/jquery-3.7.0.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>本地订单数据</h3>
            <table class="table table-striped-columns">
                <tr><td>outTradeNo</td><td th:text="${wxTrade.outTradeNo}"></td></tr>
                <tr><td>appid</td><td th:text="${wxTrade.appid}"></td></tr>
                <tr><td>mchid</td><td th:text="${wxTrade.mchid}"></td></tr>
                <tr><td>tradeState</td><td th:text="${wxTrade.tradeState}"></td></tr>
                <tr><td>tradeStateDesc</td><td th:text="${wxTrade.tradeStateDesc}"></td></tr>
                <tr><td>tradeType</td><td th:text="${wxTrade.tradeType}"></td></tr>
                <tr><td>transactionId</td><td th:text="${wxTrade.transactionId}"></td></tr>
                <tr><td>currency</td><td th:text="${wxTrade.currency}"></td></tr>
                <tr><td>total</td><td th:text="${wxTrade.total}"></td></tr>
                <tr><td>payerCurrency</td><td th:text="${wxTrade.payerCurrency}"></td></tr>
                <tr><td>payerTotal</td><td th:text="${wxTrade.payerTotal}"></td></tr>
                <tr><td>payerOpenId</td><td th:text="${wxTrade.payerOpenId}"></td></tr>
                <tr><td>bankType</td><td th:text="${wxTrade.bankType}"></td></tr>
                <tr><td>codeUrl</td><td th:text="${wxTrade.codeUrl}"></td></tr>
                <tr><td>successTime</td><td th:text="${wxTrade.successTime}"></td></tr>
                <tr><td>createTime</td><td th:text="${wxTrade.createTime}"></td></tr>
                <tr><td>modifyTime</td><td th:text="${wxTrade.modifyTime}"></td></tr>
            </table>
        </div>
        <div class="col-6">
            <h3>微信支付订单数据</h3>
            <table class="table table-striped-columns">
                <tr><td>outTradeNo</td><td th:text="${wxTransaction.outTradeNo}"></td></tr>
                <tr><td>appid</td><td th:text="${wxTransaction.appid}"></td></tr>
                <tr><td>mchid</td><td th:text="${wxTransaction.mchid}"></td></tr>
                <tr><td>tradeState</td><td th:text="${wxTransaction.tradeState}"></td></tr>
                <tr><td>tradeStateDesc</td><td th:text="${wxTransaction.tradeStateDesc}"></td></tr>
                <tr><td>tradeType</td><td th:text="${wxTransaction.tradeType}"></td></tr>
                <tr><td>transactionId</td><td th:text="${wxTransaction.transactionId}"></td></tr>
                <tr><td>currency</td><td th:text="${wxTransaction.amount?.currency}"></td></tr>
                <tr><td>total</td><td th:text="${wxTransaction.amount?.total}"></td></tr>
                <tr><td>payerCurrency</td><td th:text="${wxTransaction.amount?.payerCurrency}"></td></tr>
                <tr><td>payerTotal</td><td th:text="${wxTransaction.amount?.payerTotal}"></td></tr>
                <tr><td>payerOpenId</td><td th:text="${wxTransaction.payer?.openid}"></td></tr>
                <tr><td>bankType</td><td th:text="${wxTransaction.bankType}"></td></tr>
                <tr><td>attach</td><td th:text="${wxTransaction.attach}"></td></tr>
                <tr><td>successTime</td><td th:text="${wxTransaction.successTime}"></td></tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-3" style="margin-bottom: 20px;">
            <input id="outTradeNo" th:value="${wxTrade.outTradeNo}" hidden="hidden">
            <button onclick="update()" class="btn btn-info">Update</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function update() {
        $.ajax({
            url: "/api/wxpay/queryTrade",
            type: "GET",
            data: {
                outTradeNo: $("#outTradeNo").val(),
            },
            success: function (result) {
                alert(JSON.stringify(result));
            },
            error: function (result) {
                alert(JSON.stringify(result));
            }
        });
    }
</script>
