<style>
    .badge[data-value="SUCCESS"] {
        color: var(--tblr-green-fg)!important;
        --tblr-bg-opacity: 1;
        background-color: rgba(var(--tblr-green-rgb),var(--tblr-bg-opacity))!important;
    }

    .badge[data-value="NOTPAY"] {
        color: var(--tblr-azure-fg)!important;
        --tblr-bg-opacity: 1;
        background-color: rgba(var(--tblr-azure-rgb),var(--tblr-bg-opacity))!important;
    }

    .badge[data-value="PAYERROR"] {
        color: var(--tblr-red-fg)!important;
        --tblr-bg-opacity: 1;
        background-color: rgba(var(--tblr-red-rgb),var(--tblr-bg-opacity))!important;
    }
</style>

<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>商户订单号</th>
        <th>商户ID</th>
        <th>应用ID</th>
        <th>金额</th>
        <th>订单状态</th>
        <th>创建时间</th>
        <th>支付时间</th>
        <th>操作</th>
    </thead>
    <tr th:each="trade, iterStat : ${page.content}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${trade.outTradeNo}"></td>
        <td th:text="${trade.mchid}"></td>
        <td th:text="${trade.appid}"></td>
        <td th:text="${trade.total}"></td>
        <td>
            <span class="badge" th:text="${trade.tradeStateDesc}"
                  th:data-value="${trade.tradeState}">Green</span>
        </td>
        <td th:text="${trade.createTime}"></td>
        <td th:text="${trade.successTime}"></td>
        <td>
            <a target="_blank" th:href="@{./detail(outTradeNo=${trade.outTradeNo})}">详细</a>
        </td>
    </tr>
</table>
<br>
<a th:href="@{/trade-list(page=${page.number}-1)}" class="  item" th:unless="${page.first}">上一页</a>
<a th:href="@{/trade-list(page=${page.number}+1)}" class=" item" th:unless="${page.last}">下一页</a>
