<style>
    .badge[data-value="SUCCESS"] {
        color: var(--tblr-green-fg)!important;
        --tblr-bg-opacity: 1;
        background-color: rgba(var(--tblr-green-rgb),var(--tblr-bg-opacity))!important;
    }

    .badge[data-value="NOTPAY"] {
        color: var(--tblr-azure-fg)!important;
        --tblr-bg-opacity: 1;
        background-color: rgba(var(--tblr-azure-rgb),var(--tblr-bg-opacity))!important;
    }

    .badge[data-value="PAYERROR"] {
        color: var(--tblr-red-fg)!important;
        --tblr-bg-opacity: 1;
        background-color: rgba(var(--tblr-red-rgb),var(--tblr-bg-opacity))!important;
    }

    .markdown>table thead th, .table thead th {
        font-size: 0.8rem;
    }

</style>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="badges-list">
                <p>按订单状态筛选：</p>
                <a th:href="@{./list(tradeState=NOTPAY)}"><span class="badge bg-azure-lt">未支付</span></a>
                <a th:href="@{./list(tradeState=SUCCESS)}"><span class="badge bg-green-lt">支付成功</span></a>
                <a th:href="@{./list(tradeState=PAYERROR)}"><span class="badge bg-red-lt">支付错误</span></a>
                <a th:href="@{./list(tradeState=CLOSED)}"><span class="badge">已关闭订单</span></a>
                <a th:href="@{./list(tradeState=null)}"><span class="badge">非关闭订单</span></a>
            </div>
        </div>
    </div>
</div>

<div style="text-align: right;margin-top: 20px;">
    <p>当前第<span th:text="${page.getNumber()} + 1"></span>页，
        总共<span th:text="${page.totalPages}"></span>页，<span th:text="${page.totalElements}"></span>条记录
        <a th:href="@{./list(page=0, tradeState=${tradeState})}">首页</a>
        <a th:href="@{./list(page=${page.number}-1, tradeState=${tradeState})}" th:unless="${page.first}">上一页</a>
        <a th:href="@{./list(page=${page.number}+1, tradeState=${tradeState})}" th:unless="${page.last}">下一页</a>
        <a th:href="@{./list(page=${page.totalPages - 1}, tradeState=${tradeState})}">尾页</a>
    </p>
</div>

<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>商户订单名称</th>
        <th>商户订单号</th>
        <th>商户ID</th>
        <th>应用ID</th>
        <th>金额</th>
        <th>订单状态</th>
        <th>创建时间/支付时间</th>
<!--        <th>创建时间</th>-->
<!--        <th>支付时间</th>-->
        <th>操作</th>
    </thead>
    <tr th:each="trade, iterStat : ${page.content}" style="font-size: 0.8rem;">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${trade.outTradeTitle}"></td>
        <td th:text="${trade.outTradeNo}"></td>
        <td th:text="${trade.mchid}"></td>
        <td th:text="${trade.appid}"></td>
        <td th:text="${trade.total}"></td>
        <td>
            <span class="badge" th:text="${trade.tradeStateDesc}"
                  th:data-value="${trade.tradeState}">Green</span>
        </td>
        <td>
            <span th:text="${#dates.format(trade.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span><br>
            <span th:text="${#dates.format(trade.successTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </td>
<!--        <td th:text="${#dates.format(trade.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--        <td th:text="${#dates.format(trade.successTime, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--        <td th:text="${trade.createTime}"></td>-->
<!--        <td th:text="${trade.successTime}"></td>-->
        <td>
            <a target="_blank" th:href="@{./detail(outTradeNo=${trade.outTradeNo})}">详细</a>
        </td>
    </tr>
</table>
<div class="card" th:if="${page.getTotalPages > 1}" >
    <div class="card-body">
        <ul class="pagination ">
            <li class="page-item page-prev disabled">
                <a th:href="@{./list(page=${page.number}-1, tradeState=${tradeState})}" class="item" th:unless="${page.first}">上一页</a>
            </li>
            <li class="page-item page-next">
                <a th:href="@{./list(page=${page.number}+1, tradeState=${tradeState})}" class="item" th:unless="${page.last}">下一页</a>
            </li>
        </ul>
    </div>
</div>