<div th:fragment="step-2">
    <h2>第2步：获取支付二维码</h2>
    <p>调用接口：/api/wxpay/prepay</p>
    <p>请求类型：GET</p>
    <p>URL参数：</p>
    <table class="table">
        <thead>
        <th>参数名</th>
        <th>参数值</th>
        <th>参数说明</th>
        </thead>
        <tr>
            <td>codeUrl：</td>
            <td><input id="codeUrl" type="text" style="width: 300px;"/></td>
            <td>第1步获取到的detail数据会直接填充</td>
        </tr>
        <tr>
            <td colspan="2">
                <img style="width: 200px;height: 200px;" src="/1.png" id="qrcode"/>
            </td>
            <td>
                <button type="button" onclick="qrcode()">获取二维码</button>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        function qrcode() {
            $("#qrcode").attr("src", "/api/wxpay/qrcode?codeUrl=" + $("#codeUrl").val());
            alert("扫描二维码，完成支付，并等待回调！")
        }
    </script>
</div>